.resume-page-container{
height: 100vh;
/* background: white; */
display: flex;
}

.resume-info-container{
    margin: -3% 0 0 0 ;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.resume-page-box{
    background: white;
    box-shadow: 3px 3px 0px blue ;
}

.proficiencies{
    /* margin: 20px; */
    padding: 20px;
    border: solid rgba(110, 110, 233, 0.952) 2px;
    height: 50%;
    width: 50%;
}

.resume-pdf{
    padding: 20px;
    border: solid rgba(110, 110, 233, 0.952) 2px;
    height: 50%;
    width: 30%;
    /* margin: 20px; */
}

.skills-container{
    display: flex;
    margin: 20px;
}

.skills-list{
    width: 30%;
}

.skills-list h3 {
    font-size: 24px;
    top: 0;
    text-decoration: underline 1px;
    padding-bottom: 5px;
    text-underline-offset: 3px;
}


.skills-list li{
    font-size: 20px;
    margin-left: 0;
}